<!--
  ~ Copyright 2016 by Clearstream Services, Luxembourg.
  ~ All rights reserved.
  ~ This software is the confidential and proprietary information
  ~ of Clearstream Services ("Confidential Information").  You
  ~ shall not disclose such Confidential Information and shall use
  ~ it only in accordance with the terms of the license agreement
  ~ you entered into with CS.
  -->

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <proxies>
        <proxy>
            <id>DBGProxy</id>
            <active>true</active>
            <protocol>http</protocol>
            <host>webproxy.deutsche-boerse.de</host>
            <port>8080</port>
            <nonProxyHosts>*.deutsche-boerse.de</nonProxyHosts>
        </proxy>
        <proxy>
            <id>DBGProxys</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>webproxy.deutsche-boerse.de</host>
            <port>8080</port>
            <nonProxyHosts>*.deutsche-boerse.de</nonProxyHosts>
        </proxy>
        <proxy>
            <id>DBProxy</id>
            <active>true</active>
            <protocol>https</protocol>
            <host>webproxy.deutsche-boerse.de</host>
            <port>8443</port>
            <nonProxyHosts>*.deutsche-boerse.de</nonProxyHosts>
        </proxy>
    </proxies>

    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <url>https://cmqaart.deutsche-boerse.de/artifactory/clearstream-dev</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>